<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Explorer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="header">
    <h1>Android Penn-Testing Framework Designed By: !nc0gn!t0 ©</h1>
  </div>
  <div class="content">
    <h2>File Explorer</h2>
    <pre id="file_list"></pre>
    <script>
      fetch('/list_files')
        .then(res => res.text())
        .then(data => {
          document.getElementById('file_list').textContent = data;
        });
    </script>
  </div>
</body>
</html>
